 Welcome and please do not do illegal stuff!
 
 __|  __|_  )
       _|  (     /   Amazon Linux 2 AMI
      ___|\___|___|

https://aws.amazon.com/amazon-linux-2/

       ●
    /\__\__/\
   /         \
 \(ﾐ  ⌒ ● ⌒  ﾐ)/     ★KUPO★

 ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★